---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css';
const pageTitle = "About Me";

const identity = {
	firstName: "Bill",
	country: "VietNam",
	occupation: "Senior Web Development",
	hobbies: ["programming", "gaming", "sleeping"]
};

const skills = ["Python", "JavaScript", "HTML", "CSS", "C#", "Unity"];

const happy = true;
const finished = false;
const goal = 8;

const skillColor = "navy"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{skillColor}}>
			h1 {
				color: purple;
				font-size: 4rem;
			}
			.skill {
				color: var(--skillColor);
				font-weight: bold;
			}
		</style>
	</head>
	<body>
        <Header/>

		<h1>{pageTitle}</h1>
        <h2>... and my site(s) :3</h2>

        <p>I'm learning Astro to create my first blog.</p>

		{happy && <p>I am happy to be learning astro.</p>}
		{finished && <p>I finished the tutorial.</p>}
		{goal === 8 ? <p>My goal is to finish the tutorial in 8 lessons.</p> : <p>My goal is not 8 lessons.</p>}

		<p>Here are some facts about me:</p>
		<ul>
			<li>My name is <b>{identity.firstName}</b>.</li>
			<li>I live in {identity.country} and I work as a {identity.occupation}.</li>
			{identity.hobbies.length >= 2 &&
				<li>Two of my hobbies are {identity.hobbies[0]} and {identity.hobbies[1]}.</li>
			}
		</ul>
		<p>My skills are:</p>
		<ul>
			{skills.map((skill) => <li class="skill">{skill}</li>)}
		</ul>
    </body>
	<Footer/>
</html>